{% macro footer() %}



<div style="display: none;">
    <p>v0.6.0 dev on 2020-05-27 - Alexandre Gazagnes</p>
    <p>enhanced for screen <span id="footerWidth"></span> * <span id="footerHeight"></span>
        consider as <span id="footerMedia"></span></p>
</div>

{% endmacro %}