
#game {
  font-size: 0.8rem;
}

#before {
  display: inline;
}

#after, #afterImg, #beforeImg {
  display: none;
}

#lastImg {
    display: inline;
  }

#info, #infoComp #reload {
  display: none;
}

.choiceButton {
  width: 60px;
  margin-top: 5px; 
  margin-bottom: 5px;
  font-size: 0.8rem;
}

#reloadButton {
  margin-left: 10px; 
  margin-right: 10px;
  font-size: 0.8rem;
}

#tablePGN, #tableMooves {
  display: none;
}

.row {
  /* padding-top: 5px;
  padding-bottom: 5px; */
  margin-top: 5px;
  margin-bottom: 5px;
}