{% extends 'base.html' %}
{% block content %}


<!-- run section  -->
<section class="container" id="game">
    <div class="row">
        <p>{{ pgn.pgn_str }} - {{ pgn.familly }} - {{ pgn.sub_familly }}</p>
    </div>
    <!-- image -->
    <div id="images" class="container">
        <!-- before click -->
        <div id="before" class="row">   
            <div id="lastBeforeImg">{{ pgn.svg[-2] | safe }}</div>
            <div id="beforeImg">{{ pgn.svg[-1] | safe }}</div>
        </div>
        <!-- after click -->
        <div id="after" class="row">
            <div id="afterImg">{{ pgn.svg[-1] | safe }}</div>
            {% for key, value in pgn["mooves"].items() %}
                {% if value.good == 1 %}
                <div style="display:none;" id="{{ key }}Img" >{{ value.svg | safe }}</div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    

    <!-- buttons -->
    <div id="buttons" class="container">
        <div class="row" >
        {% for key, value in pgn["mooves"].items() %}
            <div class="col-3">
                <button type="button" onclick="moove_choice('{{ key }}','{{ value.good }}', '{{ value.score }}', '{{ value.nature }}', '{{ value.comment }}')" class="btn btn-secondary choiceButton" id="{{ key }}">{{ key }}</button>
            </div>
        {% endfor %}
        </div>
    </div>


    <!-- info -->
    <div id="info" class="container">
        <div class="row">
            <p>The answer is <span id="good"></span> <span id="infoComp"></span> </p> 
            <button type="button" onclick="document.location.reload()" class="btn btn-primary reloadButton" id="reload">-- Reload --</button>
        </div>  
    </div>


    <!-- table  -->
    <div id="tablePGN" class="container">
        <div class="row">tablePGN</div>
        <div class="row">
            <table>
                <tr>
                    <td>key</td>
                    <td>val</td>
                </tr>
                {% for key, value in pgn.items() %}
                    {% if ( key != 'svg') and ( key != 'mooves') and ( key != 'last_svg') %}
                        <tr>
                            <td>{{key}} </td>
                            <td>{{value}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>

    <div id="tableMooves" class="container">
        <div class="row">tableMooves</div>
        <div class="row">
            <table>
                <tr>
                    <td>key</td>
                    <td>val</td>
                </tr>
                {% for key, value in pgn.mooves.items() %}
                        <tr>
                            <td>{{key}} </td>

                            <td>
                                {% for kk, vv in value.items() %}
                                    {% if ( kk != 'svg') %}
                                    <span>{{ kk }} : {{ vv }} --!!-- </span>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>

                {% endfor %}
            </table>
        </div>
    </div>

</section>


{% endblock content %}